/* *{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ff9402;
    padding-top: 4%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
}

h2{
    color: white;
    text-align: left;
    font-style: italic;
    font-family: 'Gabriela', serif;
} */